* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.app {

    max-width:1440px;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.nav-bar-list {
    display:flex;
    gap: 32px; 
    align-items: center;
    list-style: none;
}

.nav-bar-list-right {
    display:flex;
    gap: 12px; ;
    align-items: center;
    list-style: none;

}

.nav-bar {
    max-width: 1440px;
    width: 90%;
    height: 72px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    margin: auto;
}

.nav-link-text {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #18191F;
    text-decoration: none;

}

.hero-section {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    padding: 0 20px;
    width: 90%;
    align-content: center;
}

.hero-title {
    display: flex;
    justify-content: space-around;
    font-family: 'Inter' , sans-serif;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    color: #18191F;
    margin-top: 70px;
}

.hero-content {
    gap: 32px;
    display: flex;
    flex-direction: column;
}

.hero-button {
    width: 154px;
    height: 48px;
    background: #8C30F5;
    border-radius: 6px;
    color: #FFFFFF;
    border: 0;
    font-family: 'Inter' ,sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.hero-content-wrapper {
    display: flex;
    justify-content: space-between;
}

.hero-company-logos {
    height: 110px;
    display: flex;
    align-items: center;
    margin: auto;
    gap: 65px;
}

.hero-image-container {
    display: flex;
}

.features-section {
    width: 1440px;
    height: 672px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-heading {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 540px;
    text-align: center;
    margin: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.features-title {
    font-family: 'Inter' , sans-serif;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    color: #18191F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.features-text {
    font-family: 'Inter' , sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;  
    color: #18191F;
}

.features-list-row {
    display: flex;
    margin: auto;
}

.feature-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 350px;
    height: 148px;
    border-radius: 8px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.feature-icon {
    width: 32px;
    height: 32px;
}

.fbox-heading {
    width: 350px;
    height: 32px;
    font-family: 'Inter' , sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #18191F;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.fbox-text {
    width: 350px;
    height: 52px;
    font-family: 'Inter' , sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #18191F;
    flex: none;
    order: 1;
    flex-grow: 0;
}